body {
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
    background-color: rgba(161, 138, 170, 0.6);
}

navbar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 60px;
    margin: 15px 30px;
}

.nav-bar {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

li {
    margin: 15px 5px;
    text-transform: uppercase;
    font-size: 15px;
}

section {
    width: 100%;
    /* background-image: linear-gradient(to top right, purple, pink); */
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0 0 0;
}

.about-me {
    width: 300px;
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
}

.info {
    max-width: 300px;
    margin: 30px;
}


.hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero-info {
    margin: 30px;
    max-width: 300px;
}

.hero-image {
    height: 300px;
    width: 300px;
    margin: 30px;
}

.styled-break {
    width: 30px;
    height: 5px;
    background-color: purple;
    border-radius: 2.5px;
    margin: 30px 0 30px 0;
}


.avatar {
    width: 100px;
    border-radius: 50px;
}

#name {
    font-size: 40px;

}

.test {
    width: 30px;
    height: 30px;
    background-color: red;
    margin: 5px;
}

#main {
    box-shadow: 2px 2px 5px black;
}

.button {
    border: 0;
    padding: 10px 15px;
    font-size: 25px;
    background-color: purple;
    width: 80px;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}

.button:hover {
    background-color: rgb(98, 51, 228);
}

.button:active {
    box-shadow: inset -2px -2px 3px rgba(255,255,255,0.6);
}

form {
    margin: 0 0 40px 0;
}

.input-section {
    margin: 20px 0;
    display: flex;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin: 0 5px 0 0;
}

footer {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: yellow;
}

a:active {
    color: purple;
}

@media only screen and (max-width: 600px) {
    .hero-info {
        max-width: 600px;
    }
    .hero-image {
        visibility: hidden;
        height: 0px;
    }
}